# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.vs/slnx.sqlite
/.vs/nextjs-dashboard/FileContentIndex/merges/2c9e7bbe-a27a-4c97-92ac-6e0bd7728e66.vsidx
/.vs/nextjs-dashboard/FileContentIndex/fa02147e-8fcc-499e-b9d1-f834d832d362.vsidx
/.vs/nextjs-dashboard/FileContentIndex
